.App {
    text-align: center;
    border: 3px solid aqua;
    margin: 50px auto;
    width: 350px;
    border-radius: 20px;
}

button {
    margin: 0.5rem 30px;
    border-radius: 0.8rem;
    font-size: 2rem;
    background: aqua;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}